:root {
        --title-color:#2E2F42;
        --text-color: #434455;
        --background-btn-color: #404BBF;
}

body {
font-family: "Roboto",sans-serif;
background: #FFFFFF;

}
.header-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;    
}
.header-link:hover,
.header-link:focus {
        color:#2E2F42;
}
.hf-studio {
        font-family:'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
}
.link-mail {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.link-mail:hover,
.link-mail:focus {
        color: #434455;
}
.link-telephone {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.link-telephone:hover,
.link-telephone:focus {
        color: #434455;
}
.btn-filter {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
}
.btn-filter:hover,
.btn-filter:focus {
        background-color: var(--background-btn-color);
}
.list {
        list-style: none;
}
.link {
        text-decoration: none;
}
.headline-services {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-color);
}
.paragraph-services {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
}
